<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form1</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            width: 100%;
            background: white;
            padding: 20px;
            align-items: center;
            flex-direction: column;
            display: flex;
        }
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        h1 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 14pt;
        }

        .s1 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
        }

        .s2 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 9pt;
        }

        h2 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
            text-align: left;
        }

        .p,
        p {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
            margin: 0pt;
        }

        .s3 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        .s4 {
            color: #ADAAAA;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        table,
        tbody {
            width: 100%;

            vertical-align: top;
            overflow: visible;
        }
        .header-table {
            width: 100%;
            border-collapse: collapse;
            margin-left: 10pt;
        }

        .header-td {
            border: 1pt solid black;

            height: 100pt;
            vertical-align: middle;
            text-align: center;
        }

        .logo-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
        }

        .logo-cell img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }



        .title-cell {

            height: 100pt;
            width: 50%;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }

        .note-cell {
            height: 100pt;
            width: 20%;
            font-size: 12px;
            text-align: center;
        }
    </style>
    <img th:src="${barcode}" alt="Barkod"
         style="position: fixed; top: 0; right: 0; width: 100px; height: auto; z-index: 9999; background: white; ">

</head>


<body>
<div style="text-align: center;">
    <h1 style="margin: 0; padding-top: 4pt; padding-bottom: 4pt;">
        GAZİ ÜNİVERSİTESİ TEKNOLOJİ FAKÜLTESİ
    </h1>
</div>

<table class="header-table" style="width: 100%; border-collapse: collapse;">
    <tr style="height: 95pt;">
        <td class="header-td logo-cell" style="width: 20%; text-align: center;">
            <img src="data:image/png;base64,....." alt="Gazi Üniversitesi" style="max-width: 100px; height: auto;">
        </td>
        <td class="title-cell header-td" style="width: 60%; text-align: center; font-weight: bold; font-size: 16px;">
            İŞYERİ EĞİTİMİ <br> BAŞVURU VE KABUL FORMU
        </td>
        <td class="note-cell header-td" style="width: 20%; text-align: center;">
            Resim Yapıştırarak <br> Fotokopi resim kullanmayınız.
        </td>
    </tr>
</table>


    <div style=" width: 100%;">
        <h2 style="padding-top: 11pt;padding-left: 12pt;text-indent: 0pt;line-height: 12pt;text-align: left; ">İLGİLİ MAKAMA
        </h2>
        <p style="padding-left: 12pt;text-indent: 0pt;text-align: justify;">Aşağıda bilgileri yer alan öğrencimizin Gazi
            Üniversitesi Eğitim Öğretim ve Sınav Yönergesi gereği zorunlu işyeri eğitimini kuruluşunuzda yapmasında
            göstereceğiniz ilgiye teşekkür eder, çalışmalarınızda başarılar dileriz.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </div>
    <table style="border-collapse:collapse;margin-left:7.434pt" cellspacing="0">
        <tr style="height:15pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s1" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Adı Soyadı </p>
            </td>
            <td
                style="width:146pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;">[[${student.firstName}]] [[${student.lastName}]]</p>
            </td>
            <td
                style="width:92pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s1" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">TC Kimlik No  </p>
            </td>
            <td
                style="width:106pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;">[[${student.identityNumber}]]</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Öğrenci No
                </p>
            </td>
            <td
                style="width:146pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;">[[${student.studentNumber}]]</p>
            </td>
            <td
                style="width:92pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Öğretim
                    Yılı</p>
            </td>
            <td
                style="width:106pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;">[[${student.studentNumber}]]</p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">E-posta
                    adresi</p>
            </td>
            <td
                style="width:146pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;">[[${student.email}]]</p>
            </td>
            <td
                style="width:92pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Telefon No
                    (GSM)</p>
            </td>
            <td
                style="width:106pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;">[[${student.phoneNumber}]]</p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Akademik
                    Birim</p>
            </td>
            <td style="width:344pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="3">
                <p style="text-indent: 0pt;text-align: left;">[[${student.faculty}]]</p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Bölümü</p>
            </td>
            <td style="width:344pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="3">
                <p style="text-indent: 0pt;text-align: left;">Bilgisayar Mühendisliği</p>
            </td>
        </tr>
        <tr style="height:25pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">İkametgâh
                    Adresi</p>
            </td>
            <td style="width:344pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="3">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <div style=" width: 100%;">
        <h2 style="padding-left: 12pt;text-indent: 0pt;text-align: left;">İŞYERİ EĞİTİMİ YAPILAN
        YER İLE İLGİLİ BİLGİLER
        </h2>
    </div>
    
    <table style="border-collapse:collapse;margin-left:7.434pt" cellspacing="0">
        <tr style="height:25pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s1" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">İşyeri
                    Eğitimi</p>
                <p class="s1" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Başlangıç
                    Tarihi</p>
            </td>
            <td
                style="width:82pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:49pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s1"
                    style="padding-left: 5pt;padding-right: 14pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                    Bitiş Tarihi</p>
            </td>
            <td
                style="width:79pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Süresi (İŞ Günü)</p>
            </td>
            <td
                style="width:51pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:25pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">İşyeri
                    Eğitimi Yapılan Yerin Adı</p>
            </td>
            <td style="width:346pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="5">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:24pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">İşyeri
                    Eğitimi Yapılan Yerin Adresi</p>
            </td>
            <td style="width:346pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="5">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Faaliyet
                    Alanı (Sektör)</p>
            </td>
            <td style="width:346pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="5">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Telefon
                    Numarası</p>
            </td>
            <td style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:95pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Faks
                    Numarası</p>
            </td>
            <td style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">E-posta
                    adresi</p>
            </td>
            <td style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:95pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Web Adresi
                </p>
            </td>
            <td style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <div style=" width: 100%;">
        <h2 style="padding-left: 12pt;text-indent: 0pt;text-align: left;">İŞVEREN VEYA YETKİLİNİN</h2>
    </div>
    <table style="border-collapse:collapse;margin-left:7.434pt" cellspacing="0">
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Adı Soyadı
                </p>
            </td>
            <td style="width:346pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="3">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Görevi</p>
            </td>
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:123pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                rowspan="4">
                <p class="s3" style="padding-left: 5pt;padding-right: 10pt;text-indent: 0pt;text-align: left;">
                    Öğrencinin işyeri eğitimi yapması uygundur.</p>
            </td>
            <td style="width:108pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                rowspan="4">
                <p class="s4"
                    style="padding-top: 12pt;padding-left: 40pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                    Unvan</p>
                <p class="s4" style="padding-left: 5pt;text-indent: 15pt;text-align: left;  ">Mühür ve İmza </p>
                <span
                        style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Tarih:</span>
            </td>
        </tr>
        <tr style="height:12pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">E-posta
                    adresi</p>
            </td>
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Tarih</p>
            </td>
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">İşveren
                    S.G.K. TesciNo.</p>
            </td>
            <td
                style="width:115pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 12pt;text-indent: 0pt;text-align: left;">İŞYERİ EĞİTİMİ</h2>
    <div style="display: flex; justify-content: space-between; width: 100%; padding-left: 12pt;">
        <h2 style="text-align: left; flex: 1; text-indent: 0;">ÖĞRENCİNİN İMZASI</h2>
        <h2 style="text-align: center; flex: 1; text-indent: 0;">KOMİSYONU ONAYI</h2>
        <h2 style="text-align: right; flex: 1; text-indent: 0;">BÖLÜM BAŞKANI ONAYI</h2>
    </div>

    <table style="border-collapse:collapse;margin-left:5.754pt" cellspacing="0">
        <tr style="height:73pt">
            <td
                style="width:156pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Belge üzerindeki bilgilerin
                    doğru olduğunu bildiririm.</p>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Tarih:</p>
            </td>
            <td
                style="width:149pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Adı,
                    Soyadı, İmza</p>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Tarih:</p>
            </td>
            <td
                style="width:159pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Adı,
                    Soyadı, İmza</p>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Tarih:</p>
            </td>
        </tr>
    </table>
    <div style=" width: 100%;">
        <h2 style="padding-left: 12pt;text-indent: 0pt;text-align: left;">NOT 1: <span class="p">İşyeri
            Eğitimi süresi içerisinde alınan rapor, istirahat vb. durumları belgelerin aslını ibraz etmek üzere en geç
            2(iki) gün içerisinde bölüm sekreterliğine ve işyeri eğitimi birimine bildireceğimi, işyeri eğitimimden
            vazgeçme niyetim halinde en az 3 iş günü önceden İlgili Program Başkanlığı ve Fakülteye bilgi vereceğimi,
            aksi halde 5510 sayılı kanun gereği doğacak cezai yükümlükleri kabul ettiğimi taahhüt ederim.</span></h2>
    <p style="padding-left: 12pt;text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 12pt;text-indent: 0pt;text-align: left;">NOT 2: Teslim edilecek form 3
        asıl nüsha olarak (fotokopi değil) hazırlanır<span class="p">. İşyeri eğitimine başlama tarihinden </span>en az
        1 hafta önce <span class="p">1 nüshasının Fakültemiz İşyeri Eğitimi Birimine, 1 nüshasının bölüm başkanlığına ve
            1 nüshasının işyeri eğitimi yapılacak işletmeye teslim edilmesi zorunludur.</span></h2>
    </div>
</body>

</html>